/node_modules
/public/hot
/public/storage
/storage/*.key
/public/css
/public/bower_components
/public/adminbackend
/public/frontend
/public/images
/public.js
/public/newsviral
/public/assets
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
